<div fxLayout="column">
  <mat-card>
    <mat-card-header>
      <h1>
        Welcome to {{ title }}!
      </h1>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="formGroup">
        <H3>Subnetwork ASN:</H3>
        <mat-form-field>
          <textarea matInput formControlName="subnetworkAsn"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="errMsg">
        <mat-error *ngIf="errorMessage.length>0">
          <div *ngFor="let msg of errorMessage" style="text-align:center">
            {{msg}}
          </div>
        </mat-error>
      </div>
    </mat-card-content>
  </mat-card>
</div>
