@import 'variable';

fieldset {
  border: 1px solid #03a9f4;
  border-radius: 4px;
  display: block;
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
}

legend {
  font-weight: bold;
}

fieldset > legend:first-of-type {
  border: none;
  margin-bottom: auto;
  width: inherit;
  padding: inherit;
  /* color: blue; */
}

.detail-fieldset {
  margin-bottom: 10px;
  border-color: $gray-300;
  legend {
    color: $gray-400;
  }
}

.block {
  margin: 0px;
  width: 1000px;
  padding: 0px;
  border: 1;
  table {
    padding: 0px;
    border: 0px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.mat-header-row {
  min-height: 36px;
  background-color: #78c3e6;
}

.table-content {
  height: 32px;
  .mat-cell {
    padding:1px;
  }
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  min-width: 20%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  min-width: 10%;
}