@mixin portal-menu-sidenav-theme($theme, $typography) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .portal-sidnav-menu {
    background: mat-color($background, app-bar);
    color: mat-color($foreground, text); // Expansion Panel
    .mat-expansion-panel {
      background: mat-color($background, app-bar);
      transition: height 0s;
    }
    .mat-expansion-panel-body {
      padding: 0px;
      background: mat-color($background, background);
      color: mat-color(
        $foreground,
        text
      ); // box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.07) inset, 0px -3px 3px -1px rgba(0, 0, 0, 0.07) inset;
      .mat-list-item {
        opacity: 0;
        text-indent: 20px;
        transition-property: opacity, text-indent;
        transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition-duration: 0.4s;
        .mat-list-item-content {
          padding: 0 16px;
        }
      }
    } // Submenu items animation
    .mat-expanded .mat-list-item {
      opacity: 1;
      text-indent: 0;
    }
    @for $i from 1 through 20 {
      .mat-expanded .mat-list-item:nth-child(#{$i}) {
        transition-delay: ($i - 1) * 0.12s;
      }
    }
    .mat-expansion-indicator {
      transition: transform 0.3s;
      width: 24px;
      text-align: center;
      &:after {
        padding: 2px;
      }
    } // End detail icon
    .mat-icon.portal-sidnav-menu__end_detail {
      color: mat-color($accent, default);
    } // Badges
    strong.portal-sidnav-menu__end_detail {
      background: mat-color($accent, default);
      color: mat-color($accent, default-contrast);
      min-width: 24px;
      text-align: center;
      border-radius: 50%;
      font-size: 0.75em;
    }
  }
}

$mat-toolbar-bottom-height: 48px;
$mat-nav-list-border: 1px solid rgba(0, 0, 0, 0.08);
$mat-hover-color: #ff6d00;
$mat-normal-color: rgba(0, 0, 0, 0.54);
$category-height: 32px !important;
$category-padding: 0 8px !important;
@mixin material-side-nav-style() {
  /* calculate side bar height */
  .side-nav-layout {
    height: 100%;
    .portal-sidnav {
      .search-form {
        border-top: $mat-nav-list-border;
        border-bottom: $mat-nav-list-border;
      }
      .mat-nav-list {
        border-bottom: $mat-nav-list-border;
      }
      /* each item color will change if hover it */
      mat-expansion-panel {
        margin: 0;
        &:hover {
          .mat-expansion-panel-header-title {
            color: $mat-hover-color;
          }
          .menu-category {
            .mat-expansion-panel-header-title {
              color: $mat-normal-color;
            }
          }
        }
        &.active {
          .mat-expansion-panel-header-title {
            .mat-icon {
              color: $mat-hover-color;
            }
          }
        }
        /* category not have icon */
        .menu-category {
          border-top: $mat-nav-list-border;
          height: $category-height;
          mat-icon {
            display: none;
          }
          h3 {
            padding: $category-padding;
          }
          /* if sidenav close then category hide */
          &.menu-category-hide {
            height: 0 !important;
            .mat-content {
              display: none;
            }
          }
        }
        .mat-expansion-panel-header {
          &:hover {
            background-color: #edf0f2;
          }
        }
      }
      /* each item color will change if hover it */
      mat-nav-list {
        .mat-list-item {
          &:hover,
          &.active {
            color: $mat-hover-color;
          }
        }
      }
      mat-toolbar.mat-toolbar.mat-toolbar-multiple-rows {
        min-height: $mat-toolbar-bottom-height;
        height: $mat-toolbar-bottom-height;
        border-top: 1px solid #e5e5e5;
        background-color: #edf0f2;
        cursor: pointer;
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
}
