<section class="side-nav-layout" fxLayout="row">
  <div fxLayout="column" [ngClass]="{'portal-sidenav-close':!getSideNavStatus()}" class="portal-sidnav">
    <!-- <app-sidenav-translate (translateDashboard)="onTranslateDashboard($event)"></app-sidenav-translate> -->
    <form class="search-form" (click)="ifSideNavIsCloseThenOpen()">
      <mat-icon>search</mat-icon>
      <mat-form-field floatLabel="never">
        <input matInput type="text" placeholder="Search reports and help" i18n-placeholder="Search reports and help@@SearchPlaceholder" [matAutocomplete]="auto" [formControl]="searchBox" #search>
        <mat-autocomplete #auto="matAutocomplete" style="width: auto;">
          <mat-option *ngFor="let filterData of searchFilterData | async" (onSelectionChange)="goSelectItemRoute($event, filterData, search)">
            <span [innerHTML]="highLightWord(filterData.name)"></span>
            <span *ngIf="filterData.sub">
              <mat-icon style="margin: 0;">chevron_right</mat-icon>
              <span [innerHTML]="highLightWord(filterData.sub)"></span>
            </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="portal-sidnav-menu portal-hide-scrollbars" fxFlex="nogrow noshrink">
      <mat-nav-list>
        <a mat-list-item (click)="ifSideNavIsCloseThenOpen()" [ngClass]="{'active': itemsActive}" class="dashboard-item" routerLink="/items">
          <mat-icon matListIcon>gavel</mat-icon>
          <h3 matLine>{{items}}</h3>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item (click)="ifSideNavIsCloseThenOpen()" [ngClass]="{'active': customersActive}" class="dashboard-item" routerLink="/customers">
          <mat-icon matListIcon>group</mat-icon>
          <h3 matLine>{{customers}}</h3>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item (click)="ifSideNavIsCloseThenOpen()" [ngClass]="{'active': factoriesActive}" class="dashboard-item" routerLink="/factories">
          <mat-icon matListIcon>build</mat-icon>
          <h3 matLine>{{factories}}</h3>
        </a>
      </mat-nav-list>
      <mat-accordion [multi]="!getSideNavStatus()">
        <mat-expansion-panel *ngFor="let menuItem of menuItems;let i = index" [disabled]="menuItem.category" [hideToggle]="true" (opened)="ifSideNavIsCloseThenOpen(true)" [ngClass]="{'active': !!menuItem.active}">
          <mat-expansion-panel-header [ngClass]="{'menu-category':menuItem.category, 'menu-category-hide': true}">
            <mat-panel-title>
              <mat-icon>{{menuItem.icon}}</mat-icon>
              <h3>{{menuItem.name}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item *ngFor="let subMenuItem of menuItem.routes" [ngClass]="{'active': !!subMenuItem.active}" [routerLink]="subMenuItem.route">
              <h3 matLine>{{subMenuItem.name}}</h3>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-toolbar>
      <mat-toolbar-row fxLayout="row" (click)="changeSideNavStatus()">
        <span fxFlex></span>
        <mat-icon>{{this.getSideNavStatus() ? 'chevron_left' : 'chevron_right'}}</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</section>
