<p>condition:: {{customer}} carNo::{{carNo}} date::{{sDate}} eDate::{{eDate}}
</p>
<div fxLayout="row wrap" fxLayoutAlign="start space-around">
  <div class="factory-options">
    <app-commons-customer [(customer)]="customer" ></app-commons-customer>
  </div>
  <div class="factory-options">
    <app-common-car-number [(customer)]="customer" [(carNo)]="carNo"></app-common-car-number>
  </div> 
  <div class="factory-picker-date">
    <app-date-picker (date)="sDate" [label]="sLabel"></app-date-picker>~
    <app-date-picker (date)="eDate" [label]="eLabel"></app-date-picker>
  </div>
</div>