<p>condition:: {{customer}} carNo::{{carNo}} date::{{sDate}} eDate::{{eDate}} value:{{value}}
</p>
<div fxLayout="row wrap" fxLayoutAlign="start space-around">
  <div class="factory-options">
    <app-commons-customer [(customer)]="customer" ></app-commons-customer>
  </div>
  <div class="factory-options">
    <app-common-car-number [(customer)]="customer" [(carNo)]="carNo"></app-common-car-number>
  </div> 
  <div class="factory-picker-date">
    <app-date-picker [(value)]="sDate"></app-date-picker>~
    <app-date-picker [(value)]="eDate"></app-date-picker>
  </div>
</div>