.factory-options {
  flex: 1;
}

.factory-picker-date {
  flex: 2;
  white-space: nowrap;
}

.picker-date-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20fr;
  grid-auto-flow: column;
  grid-gap: 4px;
}