<div fxLayout="row wrap" fxLayoutAlign="start space-around">
  <div class="factory-options">
    <app-commons-customer [(customerId)]="customer" ></app-commons-customer>
  </div>
  <div class="factory-options">
    <app-common-car-number [(customer)]="customer" [(carNo)]="carNo"></app-common-car-number>
  </div> 
  <div class="factory-picker-date">
    <div class='picker-date-grid'>
      <span><app-date-picker [(value)]="sDate"></app-date-picker></span>
      <span>~</span>
    <span><app-date-picker [(value)]="eDate"></app-date-picker></span>
    </div>
  </div>
</div>